<!DOCTYPE html>
<html>
<head>
    <title>Check-In Vehicle</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Check-In Vehicle</h1>
    <nav>
        <a href="/">Dashboard</a>
        <a href="/checkin">Check-In</a>
        <a href="/checkout">Check-Out</a>
        <a href="/vehicles">All Vehicles</a>
    </nav>
    <div style="text-align:center;">
        <form method="post">
            <input type="text" name="license_plate" placeholder="License Plate" required><br>
            <input type="number" name="slot_number" placeholder="Slot Number" required><br>
            <input type="submit" value="Check-In">
        </form>
    </div>
</body>
</html>
