<!DOCTYPE html>
<html>
<head>
    <title>All Vehicles</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>All Vehicles</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>License Plate</th>
            <th>Slot Number</th>
            <th>Status</th>
        </tr>
        {% for vehicle in vehicles %}
        <tr>
            <td>{{ vehicle[0] }}</td>
            <td>{{ vehicle[1] }}</td>
            <td>{{ vehicle[2] }}</td>
            <td>{{ vehicle[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Back to Dashboard</a>
</body>
</html>
